.banner-img{
    position: relative;
}

.banner-content{
    position: absolute;
    top: 160px;
    right: 200px;
    font-size: 60px;
}

.banner-description{
    position: absolute;
    top: 430px;
    right: 200px;
}

.btn-primary{
    position: absolute;
    top: 550px;
    right: 200px;
    border-radius: 5px;
    background: #F15B22;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 550;
    padding: 20px;
}

.img-person{
    margin-left: 190px;
    margin-top: 200px;
}

.main-content{
    position: absolute;
    top: 1250px;
    left: 900px;
    font-size: 45px;
}

.main-advise{
    position: absolute;
    top: 1400px;
    left: 900px;
    line-height: 25px;
}

.main-footer{
    position: absolute;
    top: 1520px;
    left: 926px;
}

.main-last-tag{
    position: absolute;
    top: 1550px;
    left: 926px;
}

.main-copper{
    position: absolute;
    top: 1580px;
    left: 926px;
}

.main-circle{
    position: absolute;
    top: 1610px;
    left: 926px;
}

.main-text{
    position: absolute;
    top: 1640px;
    left: 926px;
}

.section-main{
    text-align: center;
    margin-top: 150px;
    left: 695px;
    font-size: 40px;

}

.skills{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skills-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 70px;
}

.skills-discription{
    text-align: center;
}

.main-title{
    text-align: center;
}


.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 130px;
}

.img-gradient{
    background-image: url('../images/gradient2.png');
}





